@import '/src/assets/bootstrap-global';

.main {
  margin-top: 10px;
  .content {
    @include media-breakpoint-up(lg) {
      margin: 0 15vw;
    }

    @include media-breakpoint-up(xl) {
      margin: 0 10vw;
    }
  }
}
